@import 'tailwindcss';

:root {
  --background: #ededed;
  --foreground: #15171a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-bricolage-grotesque);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-public-sans);
}

p {
  font-family: var(--font-public-sans);
}

span {
  font-family: var(--font-public-sans);
}

a {
  font-family: var(--font-public-sans);
}

li {
  font-family: var(--font-public-sans);
}

h1 {
  font-family: var(--font-bricolage-grotesque);
}

h2 {
  font-family: var(--font-bricolage-grotesque);
}

h3 {
  font-family: var(--font-bricolage-grotesque);
}

.link-underline {
  position: relative;
  display: inline-block;

  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;

  transition: background-size 0.5s ease;
}

.link-underline:hover {
  background-size: 100% 2px;
}
